/* WIKIDATA THEME */

.cm-s-wiki-map .cm-keyword {color: #f00;}
.cm-s-wiki-map .cm-atom {color: #219;}
.cm-s-wiki-map .cm-number {color: #085;}
.cm-s-wiki-map .cm-def {color: #00f;}
.cm-s-wiki-map .cm-variable,
.cm-s-wiki-map .cm-property,
.cm-s-wiki-map .cm-operator {color: #05a;}
.cm-s-wiki-map .cm-variable-2 {color: #0F7A50;}
.cm-s-wiki-map .cm-variable-3 {color: #05a;}
.cm-s-wiki-map .cm-comment {color: #999;}WS
.cm-s-wiki-map .cm-string {color: #b98003;}
.cm-s-wiki-map .cm-string-2 {color: #05a;}
.cm-s-wiki-map .cm-meta {color: #555;}
.cm-s-wiki-map .cm-qualifier {color: #555;}
.cm-s-wiki-map .cm-builtin {color: #30a;}
.cm-s-wiki-map .cm-bracket {color: #997;}
.cm-s-wiki-map .cm-tag {color: #170;}
.cm-s-wiki-map .cm-attribute {color: #00c;}
.cm-s-wiki-map .cm-hr {color: #999;}
.cm-s-wiki-map .cm-link {color: #00c;}
.cm-s-wiki-map .cm-punc {color: black;}
.cm-s-wiki-map .cm-logical {color:#f00;}
.cm-s-wiki-map .cm-at {color:#0F7A50;}
.cm-s-wiki-map .cm-prefixDelcAlias {color:#6d0f7a;}
.cm-s-wiki-map .cm-prefixDelcIRI {color:#6d0f7a;}