/* WIKIDATA THEME */

.cm-s-wikiMap .cm-keyword {color: #f00!important ;}
.cm-s-wikiMap .cm-atom {color: #219!important ;}
.cm-s-wikiMap .cm-number {color: #085!important ;}
.cm-s-wikiMap .cm-def {color: #00f!important ;}
.cm-s-wikiMap .cm-variable,
.cm-s-wikiMap .cm-property,
.cm-s-wikiMap .cm-operator {color: #05a!important ;}
.cm-s-wikiMap .cm-variable-2 {color: #0F7A50!important ;}
.cm-s-wikiMap .cm-variable-3 {color: #05a!important ;}
.cm-s-wikiMap .cm-comment {color: #999!important ;}WS
.cm-s-wikiMap .cm-string {color: #b98003!important ;}
.cm-s-wikiMap .cm-string-2 {color: #05a!important ;}
.cm-s-wikiMap .cm-meta {color: #555!important ;}
.cm-s-wikiMap .cm-qualifier {color: #555!important ;}
.cm-s-wikiMap .cm-builtin {color: #30a!important ;}
.cm-s-wikiMap .cm-bracket {color: #997!important ;}
.cm-s-wikiMap .cm-tag {color: #170!important ;}
.cm-s-wikiMap .cm-attribute {color: #00c!important ;}
.cm-s-wikiMap .cm-hr {color: #999!important ;}
.cm-s-wikiMap .cm-link {color: #00c!important ;}
.cm-s-wikiMap .cm-punc {color: black!important ;}
.cm-s-wikiMap .cm-logical {color:#f00!important ;}
.cm-s-wikiMap .cm-at {color:#0F7A50!important ;}
.cm-s-wikiMap .cm-prefixDelcAlias {color:#6d0f7a!important ;}
.cm-s-wikiMap .cm-prefixDelcIRI {color:#6d0f7a!important ;}